@model UniCP.Models.KKModels.InfoCard;
@{
    ViewData["Title"] = "OdemeAl";
}

<h1>OdemeAl</h1>

<br />
<br />

 @using (Html.BeginForm("OdemeAl", "KK", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    <input type="text" value="1" name="Id" style="color:black;"/> <br />
    <input type="text" value="Albert Einstein" name="kk_adsoyad" style="color:black;" />
    <br />
    <input type="text" value="4446763125813623" name="kk_kartno" style="color:black;" />
    <br />
    <input type="text" value="12" name="kk_ay" style="color:black;" />
    <br />
    <input type="text" value="2026" name="kk_yil" style="color:black;" />
    <br />
    <input type="text" value="000" name="kk_guvenlikkodu" style="color:black;" />
    <br />
    <input type="text" value="10" name="tutar" style="color:black;" />
    <br />
    <input type="text" value="DENEME FIRMASI KK KAYDI" name="firmaadi" style="color:black;" />
    <br />
    <input type="text" value="9999" name="ortakfirmakod" style="color:black;" />
    <br />
    <input type="text" value="DENEME YAPIYORUZ DENEME SIPARIS ODEMESI" name="aciklama" style="color:black;" />
    <br />
    <input type="text" value="12346" name="sipariskodu" style="color:black;" />
    <br />


    <button class="btn btn-primary mt-3">işlem yap</button>

    }

  